/* You can add global styles to this file, and also import other style files */
.contenedor-principal {
  background-color: gray;
  display: flex;
  flex-flow: row wrap;
}

body {
  font-family: sans-serif;
  background-image: url("assets/chevrons-937583_1280.jpg");
}
/*
t-root {
  display: flex;
  border: 1px solid black;
}*/

t-barra-superior {
  border: 2px solid green;
  flex: 100%;
  text-align: center;
}

t-inicio {
  border: 2px solid green;
  flex: 100%;
  text-align: center;
}

.contenedor-inicio {
  display: flex;
}

.contenedor-inicio >* {
  background-color: blue;
  border: 3px solid red;
  flex: 50%; /* en realidad no me funciona el porcentaje pero si no pongo esta línea flex no utiliza todo el ancho*/
}
