/* You can add global styles to this file, and also import other style files */

body {
  font-family: sans-serif;
  background-image: url("assets/chevrons-937583_1280.jpg");
}

.titulo-i-tareas {
  font-size: 1.5em;
  height: 1.6em;
}

button {
  margin: 10px;
  float: right;
}

.titulo-tareas {
  font-size: 1.2em;
  height: 1.3em;
  color: navy;
}

t-inicio, t-nueva-tarea {
  margin: 5px;
  width: 100%;
}
