.contenedor-i-tareas-pendientes {
  border: 1px solid gray;
  display: flex;
  flex-flow: column;/*
  align-content: flex-start;*/
  height: 100%;
}

.contenedor-i-tareas-pendientes > * {
  width: 100%;
}

.cuerpo-i-tareas-pendientes {
  height: 100%;
}
