.contenedor-barra-superior {
  background-color: gray;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  width: 40%;
}

li {
  display: inline;
  padding: 8px;
}
