<div class="contenedor-i-tareas-grupos">

  <div class="titulo-i-tareas">Grupos (HOVER resalta c/u)</div>

  <div class="cuerpo-i-tareas-grupos">
    <div class="item-grupo" *ngFor="let item of listaGrupos">
      <div [ngClass]="{resaltado: item.resaltado}"
       (mouseenter)="onHoverGroupIn(item)"
       (mouseleave)="onHoverGroupOut(item)">
        <a [routerLink]="['ver-grupo', item.nombre]">{{item.nombre}}</a>
      </div>
    </div>
  </div>

  <div class="pie-i-tareas-grupos">
    <button type="button" name="adicionarGrupo">+G</button>
  </div>

</div>
